.App {
  text-align: center;
 
}

.body{
  margin: 0;
  padding: 0;
}


.App {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.text-heading{
  color: white;
  font-weight: 800;
  margin-left: 20px;
}

.cover-film img{
  width: 18rem;
  height: 25rem;
  border-radius: 5px;
  object-fit:cover;
}

.judul{
  font-size: large;
  color: white;
}

.film-wrapper{
  
}

.slick-slide > div{
 width: 200px;
 
}

.slick-active{
  width: 100px;
}


.tanggal{
  color: grey;
}

@media (max-width: 400px) {
  .cover-film img{
    width: 13rem  !important;
    height: 20rem  !important;
    border-radius: 5px  !important;
    object-fit: cover;
  }

  .slick-slide > div{
    width: 148px;
    
   }

  .judul{
    font-size: small  !important;
    color: white;
  }
  
  .tanggal{
    color: grey;
  }
}


